<div class="jumbotron mt-4">
  <h1 class="display-4">notes app nodejs and mongodb</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Necessitatibus non officia unde iure consectetur tempore.</p>
  <hr class="my-4" />
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, impedit
    voluptate. Labore, autem eius quos atque molestias dolorem perferendis
    impedit.</p>
    <a href="" class="btn btn-primary">boton</a>
</div>