<h1>all notes</h1>

<div class="row">

  {{#each notes}}
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h4
            class="card-title d-flex justify-content-between aling-item-center"
          >{{title}} <a href="/notes/edit/{{_id}}">edit</a></h4>
          <p>{{description}}</p>
          <form action="/note/delete/{{_id}}?_method=DELETE"  method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-block">delete</button>
          </form>
        </div>
      </div>
    </div>
  {{/each}}
</div>